<div class="wrapper ">

    <app-categories
            (selectCategory)="onSelectCategory($event)"

            (deleteCategory)="onDeleteCategory($event)"
            (updateCategory)="onUpdateCategory($event)"
            (addCategory)="onAddCategory($event)"
            (searchCategory)="onSearchCategory($event)"

            [selectedCategory]="selectedCategory"
            [categories]="categories"></app-categories>

    <div class="main-panel">

        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">

            <app-header></app-header>

        </nav>

        <div class="content">
            <div class="container-fluid">

                <app-stat></app-stat>

                <div class="row">
                    <div class="col-12">
                        <app-tasks (updateTask)="onUpdateTask($event)"
                                   (deleteTask)="onDeleteTask($event)"
                                   (selectCategory)="onSelectCategory($event)"
                                   (addTask)="onAddTask($event)"

                                   [selectedCategory]="selectedCategory"
                                   (filterByStatus)="onFilterTasksByStatus($event)"
                                   (filterByTitle)="onSearchTasks($event)"
                                   (filterByPriority)="onFilterTasksByPriority($event)"

                                   [tasks]="tasks"
                                   [priorities]="priorities"

                        ></app-tasks>
                    </div>
                </div>
            </div>
        </div>

        <app-footer></app-footer>

    </div>
</div>
