<div class="sidebar" data-color="purple" data-background-color="white">

    <div id="categories">

        <div class="logo">
            <span class="nav-title">Категории</span>

            <!--    иконка добавления новой категории -->
            <span class="add-icon-area">

          <button mat-icon-button class="add-icon" (click)="openAddDialog()">
      <mat-icon>add</mat-icon>
        </button>
    </span>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">

                <!--      поиск категорий -->
                <div class="search-category-area">

                    <mat-form-field class="example-full-width">
                        <input

                            #inputSearchCategory

                            (keydown.escape)="searchCategoryTitle = ''; search()"
                            (keyup)="search()"
                            [(ngModel)]="searchCategoryTitle"

                            matInput
                            maxlength="256"
                            placeholder="Поиск категорий"

                        />

                        <button
                                (click)="searchCategoryTitle = ''; search()"
                                *ngIf="inputSearchCategory.value.trim().length > 0" aria-label="Clear"
                                class="search-category-button size25 gray"
                                mat-button

                                mat-icon-button

                                matSuffix
                        >
                            <mat-icon>clear</mat-icon>
                        </button>

                    </mat-form-field>

                </div>

                <!-- виртуальная категория 'Все'-->
                <li class="nav-item category" (click)="showTasksByCategory(null)"
                    [class.active]="selectedCategory === null">

                    <a class="nav-link pointer">

                        <!--          название категории-->
                        <span class="all-category-title">Все</span>


                    </a>
                </li>

                <!-- разделитель-->
                <div class="line"></div>

                <div *ngIf="categories.length == 0"><p class="not-found">Ничего не найдено</p></div>

                <li *ngFor="let category of categories; let index = index" (click)="showTasksByCategory(category)"
                    class="nav-item pointer"
                    [class.active]="category === selectedCategory"
                    (mouseleave)="showEditIcon(null)"
                    (mouseenter)="showEditIcon(index)">

                    <a class="nav-link">
                        <!--          название категории-->
                        <span class="category-title">{{category.title}}</span>

                        <!--         кнопка редактирования категории-->
                        <span class="edit-category-icon-area">

            <mat-icon
                    *ngIf="indexMouseMove === index"
                    (click)="$event.stopPropagation(); openEditDialog(category)"
                    class="edit-category-icon">edit
            </mat-icon>

          </span>

                    </a>

                </li>
            </ul>
        </div>
        <div class="sidebar-background"></div>
    </div>
</div>